.ui.menu {
  margin: 0em 0em 2em;
  padding: 2em 0em;
  border-radius: 0;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.highlighttable {
  width: 100%;
}

.highlighttable pre {
  margin: 0em;
}

.highlighttable .linenos pre {
  font-size: 0.9em;
  padding: 0.9em 0.3em 0.9em 0.9em;
} 

.highlighttable .linenos {
  width: 2em;
}

.highlight pre {
  padding: 0.9em;
  font-size: 0.9em;
}